@model HealthCareServiceUI.Models.PresciptionModel

@{
    ViewBag.Title = "Prescription";
}

<div>
    <h4>Presciption Information</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Temp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Temp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Weight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Visit_no)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Visit_no)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NextDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NextDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Indication)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Indication)
        </dd>

    </dl>
</div>
<ul class="nav navbar-nav">
    <li>@Html.ActionLink("Edit", "Edit", new { id = Model.Prescip_id })</li>
    <li>@Html.ActionLink("Back to List", "IndexList")</li>
    <li>@Html.ActionLink("Add Medicine Doze", "Index", "PresciptionDetailMVC")</li>
</ul>
