@model HealthCareServiceUI.Models.PresciptionModel

@{
    ViewBag.Title = "Prescription";
}

    <div class="container">
        @*<div class="container" style="width:400px; height:500px;">*@
        @using (Html.BeginForm("Index", "PresciptionMVC", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Enter Prescription Information</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.PatientFullName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(x => x.Patient_id, ViewBag.patient_plist as SelectList, "---Select Patient---", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PatientFullName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.DoctorFullName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(x => x.Doctor_id, ViewBag.doctor_plist as SelectList, "---Select Doctor---", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.DoctorFullName, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group">
                    @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input type="date" name="@Html.NameFor(model => model.Date)" />
                        @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.BP, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(x => x.BP, new { @class = "form-control", @placeholder = "Blood Pressure" })
                        @Html.ValidationMessageFor(model => model.BP, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Temp, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(x => x.Temp, new { @class = "form-control", @placeholder = "Temperature" })
                        @Html.ValidationMessageFor(model => model.Temp, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Weight, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(x => x.Weight, new { @class = "form-control", @placeholder = "Weight" })
                        @Html.ValidationMessageFor(model => model.Weight, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Visit_no, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(x => x.Visit_no, new { @class = "form-control", @placeholder = "Number of Visit" })
                        @Html.ValidationMessageFor(model => model.Visit_no, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.NextDate, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input type="date" name="@Html.NameFor(model => model.NextDate)" />
                        @Html.ValidationMessageFor(model => model.NextDate, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Indication, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(x => x.Indication, new { @class = "form-control", @placeholder = "Indication" })
                        @Html.ValidationMessageFor(model => model.Indication, "", new { @class = "text-danger" })
                        <br/>
                        <input type="submit" value="submit" class="btn btn-block btn-danger" />
                    </div>
                </div>

            </div>
        }
    </div>




            <div>
                @Html.ActionLink("Back to List", "IndexList")
            </div>

