@model IEnumerable<HealthCareServiceUI.Models.PresciptionModel>

<p>
    @Html.ActionLink("Create New", "Index")
</p>
<table class="table">
    <tr>
        <th>
            Select
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Temp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Weight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Visit_no)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NextDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Indication)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Patient_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Doctor_id)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.ActionLink(">>>", "Details", new { id = item.Prescip_id })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Temp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Visit_no)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NextDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Indication)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patient_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Doctor_id)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Prescip_id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Prescip_id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Prescip_id })
            </td>
        </tr>
    }

</table>
