@model HealthCareServiceUI.Models.Doctor_PClass
@{
    ViewBag.Title = "Doctor Profile";
}
<div>
    <h4>Doctor Personal Profile</h4>
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Add Patient Personal Information", "AddIndex", "Patient_PMVC")</li>
    </ul>
    <br />
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DoctorFullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DoctorFullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DOB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mobile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mobile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>
</div>

<ul class="nav navbar-nav">
    <li>@Html.ActionLink("Edit", "Edit", new { id = Model.Doctor_id })</li>
    <li>@Html.ActionLink("Back to List", "Index")</li>
    <li>@Html.ActionLink("Add Educational Profile", "Index", "DocEducationMVC")</li>
</ul>

