@model IEnumerable<HealthCareServiceUI.Models.DoctorJoinTablesClass>

@{
    ViewBag.Title = "Doctor";
}

    <h2>Doctor</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DoctorFullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Specialization)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InstituteName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Degree)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PassingYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mobile)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DoctorFullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Specialization)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InstituteName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Degree)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PassingYear)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mobile)
        </td>
        
    </tr>
}

</table>
