@model IEnumerable<HealthCareServiceUI.Models.DocEducationModel>
@{
    ViewBag.Title = "Doctor Profile";
}
<h2>Doctor Educational Profile</h2>

<p>
    @Html.ActionLink("Create New", "Index")
</p>
<table class="table">
    <tr>
        <th>
            Select
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InstituteName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Degree)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PassingYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Doctor_id)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(">>>", "Details", new { id = item.Edu_id })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InstituteName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Degree)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PassingYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Doctor_id)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Edu_id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Edu_id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Edu_id })
            </td>
        </tr>
    }

</table>
