@model IEnumerable<HealthCareServiceUI.Models.PresciptionDetailModel>

@{
    ViewBag.Title = "Presciption Information";
}

<h2>Medicine Information List</h2>

<p>
    @Html.ActionLink("Create New", "Index")
</p>
<table class="table">
    <tr>
        <th>
            Select
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Doze)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Duration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prescip_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Drug_id)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.ActionLink(">>>", "Details", new { id = item.PresDetail_id })
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Doze)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Duration)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Prescip_id)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Drug_id)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.PresDetail_id }) |
        @Html.ActionLink("Details", "Details", new { id = item.PresDetail_id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.PresDetail_id })
    </td>
</tr>
    }

</table>
