@model HealthCareServiceUI.Models.GenericClass

@{
    ViewBag.Title = "Medicine Information";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div>
    <h4>Medicine Generic Name</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GenericName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GenericName)
        </dd>

    </dl>
</div>
<ul class="nav navbar-nav">
    <li>@Html.ActionLink("Edit", "Edit", new { id = Model.Generic_id })</li>
    <li>@Html.ActionLink("Back to List", "Index")</li>
    <li>@Html.ActionLink("Add Drug", "Index", "DrugMVC")</li>
</ul>
