@model IEnumerable<HealthCareServiceUI.Models.ProfessionalDetailModel>

@{
    ViewBag.Title = "IndexList";
}

<h2>IndexList</h2>

<p>
    @Html.ActionLink("Create New", "Index")
</p>
<table class="table">
    <tr>
        <th>
            Select
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Specialization)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Doctor_id)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.ActionLink(">>>", "Details", new { id = item.Pro_id })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Specialization)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Doctor_id)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Pro_id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Pro_id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Pro_id })
            </td>
        </tr>
    }

</table>
